.mobileBox{
    display: flex;
    justify-content: space-around;
}
.buttonBox{
    display: flex;
    justify-content: space-around;
}
.SceneryBox{
    display: flex;
    justify-content: space-around; 
}
